/.vscode
/Atlas dan ISIC2019 (31 classes)
/best_resnet101_eye.keras
/best_resnet101_skin.keras
/bg.jpg
/bg1.jpg
/bg3.jpg
/bg4.jpg
/cataract.jpg
/class_indices_resnet101.json
/class_indices_resnet101_eye.json
/dataset
/Dermnet
/diabetic_rectinopathy.jpeg
/disease_encoder.pkl
/eczema-hand-166.jpeg
/final_resnet101_eye.keras
/final_resnet101_skin.keras
/generated_symptom_dataset.csv
/glaucoma.jpg
/hemangioma-764.jpeg
/images.jpeg
/logs
/nlp_pipeline.pkl
/Psoriasis-Guttate-26.jpeg
/psoriasis.jpeg
/rosacea-0009__ProtectWyJQcm90ZWN0Il0_FocusFillWzI5NCwyMjIsIngiLDFd.jpeg
/severity_encoder.pkl
/SkinDisease
/SkinDisease.zip
/skin_dataset
/tinea-beard-4.jpeg